.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
    
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  
  .sidenav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #d9d9d9;
  }
  
  .sidenav{
    margin-top: 40px;
  }
  
  .alert{
    margin-top: 13px;
  }
  
  .txt-sidenav{
    margin-left: 7px;
  }